<div id="newsletter">
    <h2>Đăng ký theo dõi tin tức</h2>
    <form action="#" method="get">
        <input name="name" type="text" placeholder="Họ và tên"/>
        <input name="name" type="text" placeholder="Địa chỉ email"/>
        <input name="submit" type="submit" value="Đăng ký" />
    </form>
</div><!-- **Newsletter - End** -->