@{
    ViewBag.PageTitle = "Dịch vụ";
    Layout = "_Layout";
}

<!-- **Main Container** -->
<div class="main-container">

    <!-- **Content Full Width** -->
    <div class="content content-full-width">  
    
        <!-- **Introduction** -->
        <div class="column one-fourth">
            <div class="content-center-aligned">
                <span class="arctext-no-curve" data-radius="200">Thẩm mỹ<br/>cột sống</span>
                <span class="rounded-img border">
                    <img src="/images/home-1-column-image.png" alt="" title="" />
                </span>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In in massa urna, vitae vestibulum orci. Maecenas quis est 
                sed mauris gravida mollis.</p>
            </div>
        </div>
        <div class="column one-fourth">
            <div class="content-center-aligned">
                <span class="arctext-no-curve" data-radius="" id="da-thong-kinh-lac">Đả thông<br/>kinh lạc</span>
                <span class="rounded-img border">
                    <img src="/images/home-2-column-image.jpg" alt="" title="" />
                </span>
                <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In in massa urna, vitae vestibulum orci. Maecenas quis est sed 
                mauris gravida mollis.</p>
            </div>
        </div>
        <div class="column one-fourth">
            <div class="content-center-aligned">
                <span class="arctext-no-curve" data-radius="150">Thải độc<br/>tế bào</span>
                <span class="rounded-img border">
                    <img src="https://wedesignthemes.com/html/spa-treats/images/post-images/services-detox.jpg" alt="" title="" />
                </span>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In in massa urna, vitae vestibulum orci. Maecenas quis est sed 
                mauris gravida mollis.</p>
            </div>
        </div>
        <div class="column one-fourth last">
            <div class="content-center-aligned">
                <span class="arctext-no-curve" data-radius="200">Nhân số học & Thiền</span>
                <span class="rounded-img border">
                    <img src="/images/home-4-column-image.jpg" alt="" title="" />
                </span>
                <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In in massa urna, vitae vestibulum orci. Maecenas quis est sed 
                mauris gravida mollis.  </p>
            </div>
        </div>
        <div class="hr"></div>
        <!-- **Introduction - End** -->

        <h1>Ayurveda Spa</h1>
        
        <div class="column one-third">
            <img src="http://placehold.it/300x260" alt="" title="" />
            <div class="box-content-with-design">
                <h3>Liệu trình</h3>
                <ul class="flower-bullet green">
                    <li>Fusce nec purus dui, id placerat sem.</li>
                    <li>Aenean at nunc sem, sit amet tristique nisi.</li>
                    <li>Duis at neque in libero aliquam molestie.</li>
                    <li>Nullam ornare ante et nulla accumsan molestie.</li>
                    <li>Vivamus volutpat ultricies felis, at sodales.</li>
                    <li>Nam faucibus nisi et nisl suscipit suscipit.</li>
                    <li>Sed non metus quam, id tincidunt ligula.</li>
                </ul>
                <h3>Giá cả</h3>
                                    
                <table border="0" cellpadding="0" cellspacing="0" class="price-table">
                    <tbody> 
                        <tr>
                            <td class="odd">1 hr</td>
                            <td class="even">$50</td>
                        </tr>
                        <tr>
                            <td class="odd">2 hrs</td>
                            <td class="even">$75</td>
                        </tr>
                        <tr>
                            <td class="odd">3 hrs (Max)</td>
                            <td class="even">$125</td>
                        </tr>
                    </tbody>
                </table>                    
            </div>
        </div>
        
        <div class="column two-third last">            
            <p> 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It uses a dictionary of It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. <br /> <br />

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  <br /> <br />
Lorem Ipsum passages, and more recently with desktop publishing software like. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            </p>             
                
            <blockquote> <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p> </blockquote>                
            <div class="hr_invisible"></div>          
            <a href="" class="big-ico-button red book">
                <span>Book an Appointment</span>
            </a>                
            <a href="" class="big-ico-button green leaf">
                <span>Gift a Friend</span>
            </a>      
        </div>
        
        <div class="hr"></div>
        
        <div class="clear"></div>
        
    </div> <!-- **Content Full Width - End** -->
    
    <!-- **Newsletter** -->
    <partial name="_SubcriberRegister"/>
    <!-- **Newsletter - End** -->
        
</div><!-- **Main Container - End** -->

@section Breadcrumbs {
    <!-- **Breadcrumb** -->
    <div class="breadcrumb">
        <div class="container">
            <a asp-action="Index" asp-controller="Home" title="">Trang chủ /</a>
            <span class="current-crumb">@ViewBag.PageTitle</span>
        </div>  <!-- **Breadcrumb - End** -->           
    </div>
}