@{
    ViewBag.PageTitle = "Trang chủ";
    Layout = "_Layout";
}

<!-- ** Home Slider** -->
<div id="home-slider">
    <div class="slider-container">
        <div class="slider-wrapper theme-default">    
            <div id="slider" class="nivoSlider">
                <img src="https://wedesignthemes.com/html/spa-treats/images/post-images/slider-image.jpg" alt="" title="#htmlcaption1" />
                <img src="/images/massage-1.jpg" alt="" title="" />
                <img src="/images/slide-item.png" alt="" title="#htmlcaption1" />
            </div>
            <div id="htmlcaption1" class="nivo-html-caption">
                <h2>Trung tâm Khoa học Đào tạo<br/>và Thẩm mỹ Quốc Gia</h2>
                <h3>Sứ mệnh - Trách nhiệm - Tình thương</h3>
            </div>
        </div>
    </div>
</div><!-- **Home Slider - End** -->

<!-- ** Main** -->
<div id="main">
    <!-- **Main Container** -->
    <div class="main-container">
        <!-- **Content Full Width** -->
        <div class="content content-full-width">
            <!-- **Traning** -->
            <h1 class="title">
                <a href="#" style="color: unset"><span>Đào tạo</span></a>
            </h1>              

            <div class="column one-fourth">
                <div class="content-center-aligned">   
                    <a href="services.html" title="">
                        <span class="arctext-no-curve" data-radius="200">Thẩm mỹ<br/>cột sống</span>
                        <span class="rounded-img border">
                            <img src="/images/home-1-column-image.png" alt="" title="" />
                        </span>
                    </a>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In in massa urna, vitae vestibulum orci. Maecenas quis est 
                    sed mauris gravida mollis.</p>
                </div>
            </div>
            <div class="column one-fourth">
                <div class="content-center-aligned">   
                    <a href="services.html" title="">
                        <span class="arctext-no-curve" data-radius="" id="da-thong-kinh-lac">Đả thông<br/>kinh lạc</span>
                        <span class="rounded-img border">
                            <img src="/images/home-2-column-image.jpg" alt="" title="" />
                        </span>
                    </a>
                    <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In in massa urna, vitae vestibulum orci. Maecenas quis est sed 
                    mauris gravida mollis.</p>
                </div>
            </div>
            <div class="column one-fourth">
                <div class="content-center-aligned">   
                    <a href="services.html" title="">
                        <span class="arctext-no-curve" data-radius="150">Thải độc<br/>tế bào</span>
                        <span class="rounded-img border">
                            <img src="https://wedesignthemes.com/html/spa-treats/images/post-images/services-detox.jpg" alt="" title="" />
                        </span>
                    </a>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In in massa urna, vitae vestibulum orci. Maecenas quis est sed 
                    mauris gravida mollis.</p>
                </div>
            </div>
            <div class="column one-fourth last">
                <div class="content-center-aligned">   
                    <a href="services.html" title="">
                        <span class="arctext-no-curve" data-radius="200">Nhân số học & Thiền</span>
                        <span class="rounded-img border">
                            <img src="/images/home-4-column-image.jpg" alt="" title="" />
                        </span>
                    </a>
                    <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In in massa urna, vitae vestibulum orci. Maecenas quis est sed 
                    mauris gravida mollis.  </p>
                </div>
            </div>
            <!-- **Traning - End** -->
            
            <div class="hr_invisible"></div>
            
            <div class="column one-half">
                <div class="box-content">
                    <a href="popular-procedures.html" title="">
                        <img src="http://placehold.it/220x240" alt="" title="" class="alignleft" />
                    </a>
                    <h2>Ayurveda Spa</h2>
                    <p> Nulla ullamcorper faucibus tellus sed malesuada. In convallis hendrerit velit id vulputate. In hac habitasse platea dictumst. Donec eget consequat urna. Pellentesque ac nibh risus. Duis scelerisque, metus ac adipiscing. </p>
                    <a href="popular-procedures.html" title="Read More" class="tooltip-top readmore"></a> 
                </div>
            </div>
            
            <div class="column one-half last">
                <div class="box-content">
                    <a href="popular-procedures.html" title=""><img src="http://placehold.it/220x240" alt="" title="" class="alignleft" /></a>
                    <h2>Thermal Spa</h2>
                    <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In in massa urna, vitae vestibulum orci. Maecenas quis est sed mauris gravida mollis. Suspendisse potenti. Pellentesque nisl nec elit. </p>
                    <a href="popular-procedures.html" title="Read More" class="tooltip-top readmore"></a> 
                </div>
            </div>
            <div class="hr_invisible"></div>
            <!-- **Education - End** -->
            
            <!-- **Services** -->
            <h1 class="title">
                <a href="#" style="color: unset"><span>DỊCH VỤ</span></a>
            </h1>

            <div class="column one-half">
                <div class="box-content">
                    <a href="popular-procedures.html" title="">
                        <img src="http://placehold.it/220x240" alt="" title="" class="alignleft" />
                    </a>
                    <h2>Ayurveda Spa</h2>
                    <p> Nulla ullamcorper faucibus tellus sed malesuada. In convallis hendrerit velit id vulputate. In hac habitasse platea dictumst. Donec eget consequat urna. Pellentesque ac nibh risus. Duis scelerisque, metus ac adipiscing. </p>
                    <a href="popular-procedures.html" title="Read More" class="tooltip-top readmore"></a> 
                </div>
            </div>
            
            <div class="column one-half last">
                <div class="box-content">
                    <a href="popular-procedures.html" title=""><img src="http://placehold.it/220x240" alt="" title="" class="alignleft" /></a>
                    <h2>Thermal Spa</h2>
                    <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In in massa urna, vitae vestibulum orci. Maecenas quis est sed mauris gravida mollis. Suspendisse potenti. Pellentesque nisl nec elit. </p>
                    <a href="popular-procedures.html" title="Read More" class="tooltip-top readmore"></a> 
                </div>
            </div>
            <div class="hr_invisible"></div>
            <!-- **Services - End** -->
            
            <!-- **Services** -->
            <h1 class="title">
                <a href="#" style="color: unset"><span>SẢN PHẨM</span></a>
            </h1>

            <div class="column one-half">
                <div class="box-content">
                    <a href="popular-procedures.html" title="">
                        <img src="http://placehold.it/220x240" alt="" title="" class="alignleft" />
                    </a>
                    <h2>Ayurveda Spa</h2>
                    <p> Nulla ullamcorper faucibus tellus sed malesuada. In convallis hendrerit velit id vulputate. In hac habitasse platea dictumst. Donec eget consequat urna. Pellentesque ac nibh risus. Duis scelerisque, metus ac adipiscing. </p>
                    <a href="popular-procedures.html" title="Read More" class="tooltip-top readmore"></a> 
                </div>
            </div>
            
            <div class="column one-half last">
                <div class="box-content">
                    <a href="popular-procedures.html" title=""><img src="http://placehold.it/220x240" alt="" title="" class="alignleft" /></a>
                    <h2>Thermal Spa</h2>
                    <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In in massa urna, vitae vestibulum orci. Maecenas quis est sed mauris gravida mollis. Suspendisse potenti. Pellentesque nisl nec elit. </p>
                    <a href="popular-procedures.html" title="Read More" class="tooltip-top readmore"></a> 
                </div>
            </div>
            <div class="hr_invisible"></div>
            <!-- **Services - End** -->
            
            
            <!-- **Three Column** -->
            <div class="column one-third">
                <h4 class="title"><span>Top Spa  Tips</span></h4>
                <ul class="flower-bullet green">
                    <li><a href="" title="">Top 20 Tips for Glowing Skin</a></li>
                    <li><a href="" title="">10 Tips to Reduce Pimples</a></li>
                    <li><a href="" title="">10 Tips to Cure Dark Circles Undereyes</a></li>
                    <li><a href="" title="">Top 20 Tips for Curing Acne</a></li>
                    <li><a href="" title="">Top Ten Cures for Black Spots</a></li>
                    <li><a href="" title="">Top Diet Facts</a></li>
                </ul>
            </div>
            <div class="column one-third">
                <h4 class="title"><span>Tặng quà cho người thân</span></h4>
                <a href="" title="">
                    <img src="images/gift-card.png" alt="" title="" />
                </a>
            </div>
            <div class="column one-third last">
                <h4 class="title">
                    <span>Thời gian hoạt động</span>
                </h4>
                <div class="notice">
                    <span class="left">Thứ 2 - Thứ 6: </span><span class="right">07:00 ~ 17:00</span>
                </div>
                <p>
                    <strong>Note: </strong>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In in massa urna, vitae vestibulum orci.
                </p>
            </div>
            <!-- **Three Column - End** -->
            
        </div> <!-- **Content Full Width - End** -->   	
        
        <!-- **Newsletter** -->
        <partial name="_SubcriberRegister">
        
    </div><!-- **Main Container - End** -->
</div>

@section Styles {
    <link href="/css/nivo-slider.css" rel="stylesheet"  type="text/css" media="screen"/>
}

@section Scripts {
    <!-- **jQuery** -->
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="/js/jquery.arctext.js"></script>
    <script type="text/javascript" src="/js/jquery.jcarousel.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("span.arctext").each(function(){
                $(this).arctext({radius: $(this).attr('data-radius')});
            });
        });
    </script>

    <script type="text/javascript" src="/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript" src="/js/jquery.tipTip.minified.js"></script>
    <script type='text/javascript' src="/js/spa.custom.js"></script>
}
