<!-- Modal -->
<div class="modal fade" id="maintaining-feature-notification-modal" tabindex="-1" role="dialog"
     aria-labelledby="confirmation-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="maintaining-feature-notification-modal-title">
                    Chức năng không khả dụng
                </h5>
            </div>
            <div class="modal-body row px-4">
                <div class="col col-auto pe-3">
                    <i class="bi bi-info-circle-fill fs-1 text-primary"></i>
                </div>
                <div class="col h-100">
                    Chức năng này đang được bảo trì hoặc phát triển.<br/>
                    Vui lòng thử lại sau.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        id="maintaining-feature-notification-modal-cancel-button">
                    Quay lại
                </button>
            </div>
        </div>
    </div>
</div>